/*

!.gitignore

!README.md

!/include/
!/m4/
!/scripts/
!AUTHORS
!COPYING
!ChangeLog
!INSTALL
!Makefile.am
!NEWS
!README
!compile
!configure.ac
!jach_listen_and_print.c
!jachd.c
!joyd_c
!js.c
!snachd.c
